<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pierwszy Blog</title>
</head>
<body>
    <div>
        <h1>Witaj na stronie...</h1>
        <h2>To moja pierwsza strona DJANGO</h2>
        <a href="https://www.instagram.com/mateuszchmielarek" >Autor: Chmielarson</a>
        <h4>Tu bedzie cos dojebanego</h4>
    </div>
        {% for post in posts %}
    <div>
        <p>Opublikowano: {{ post.published_date() }}</p>
        <p>Autor: {{post.author() }}</p>
    </div>
    {% endfor %}

</body>
</html>